*{
    margin: 0;
    padding: 0;
}
.title{
    color: rgb(30, 30, 30);
    text-align: center  ;
}
.description{
    color: rgb(87, 87, 87);
    font-size: 20px;
    font-weight: 550;
    text-align: center;
    margin-top: 1rem;
}
body{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    max-height: 100vh;
    background-color: gainsboro;
    color: silver
}
.container{
    background-color: rgb(30, 30, 30);
    padding: 10px 20px;
    min-width: 42vh;
    border-radius: 10px;
    padding-top: 20px;
}
.container h2{
    text-align: center;
    color: goldenrod;
}
form{
    margin: 2rem 0 1rem 0;
}
.amount{
    display: flex;
    flex-direction: column;
}
.amount label{
    font-size: 17px;
}
.amount #input_amount{
    height: 2rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid gainsboro;
    padding-left: 0.5rem;
    background-color: gainsboro;
    margin-top: 5px;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
}
.dropdown i{
    font-size: 1.7rem;
    margin-top: 1rem;
    color: goldenrod;
}
.from .select_container{
    display: flex;
    align-items: center;
}
.to .select_container{
    display: flex;
    align-items: center;
}
.flag_img{
    width:2.7rem;
}
.select_container .select_country{
    border: 1px solid rgb(30,30,30);
    background-color: rgb(30, 30, 30);
    color: white;
    border-radius: 5px;
    margin-left: 5px;
    height: 1.7rem;
}
form button{
    background-color: goldenrod;
    color: black;
    border-radius: 5px;
    border: 1px solid goldenrod;
    height: 2.5rem;
    font-size: 1.2rem;
    width: 100%;
    margin-top: 2rem;
}
form .result_msg{
    text-align: center;
    font-size: 1.2rem;
    color: white
}
.from ,.to{
    text-align: center;
}
.label{
    font-size: 17px;
}

